* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(#fff, #ffecec);
}

.container {
  max-width: 720px;
  margin: auto;
  padding: 15px;
}

.header {
  width: 100%;
  max-width: 150px; /* BATAS LEBAR LOGO */
  display: block;
  margin: 0 auto 12px;
  border-radius: 12px;
}

h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #b00000;
}

.info input,
select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.info button,
.nav-btn button {
  width: 100%;
  padding: 12px;
  background: #c00000;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(192, 0, 0, 0.35);
}

button:active {
  transform: scale(0.97);
}

.hidden {
  display: none;
}

.timer {
  text-align: center;
  font-weight: bold;
  color: #b00000;
  margin: 10px 0;
}

.question {
  background: white;
  padding: 15px;
  border-radius: 14px;
  margin-bottom: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.question label {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 6px;
  cursor: pointer;
}

.nav-btn {
  display: flex;
  gap: 10px;
}

.progress {
  background: #eee;
  border-radius: 10px;
  overflow: hidden;
}

#progressBar {
  height: 8px;
  width: 0%;
  background: #c00000;
}

.nav-soal {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: 10px 0;
}

.nav-soal button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.nav-soal button.answered {
  background: #4caf50;
  color: white;
}
.nav-soal button.active {
  border: 2px solid #c00000;
}

@media (max-width: 480px) {
  .header {
    max-width: 300px;
  }
}
